/* Container: Create a container with a width of 1120px to ensure a consistent layout across different devices.
Typography: Pay attention to typography.
-
-
-
The page title should be in <h1> with a font size of 30px
Subtitles in <h2> with a font size of 24px
Use a clean and legible font.
Content: To be added accurately with correct grammar, punctation and spelling as presented in the template
below. Please be sure to include the correct internal links. */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #000f42;
  letter-spacing: 1px;
}
main {
  padding-left: 1.25em;
  padding-right: 1.25em;
  max-width: 1120px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: 'Dosis', Tahoma, Verdana, sans-serif;
}

h1 {
  font-size: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
h2 {
  font-size: 24px;
}

p {
  margin-bottom: 1.875em;
}

a {
  color: #0137ef;
  text-decoration: none;
  cursor: pointer;
}

.iframe {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  margin-top: 1.875em;
}
th,
td {
  padding: 10px;
}
th {
  color: #555;
}
.warning-red {
  color: red;
}
.flex {
  display: flex;
  flex-direction: row;
}
.gap {
  gap: 2em;
}
.table-wrapper {
  overflow-x: auto;
  margin-bottom: 1.875em;
}
.grey-bg {
  background-color: #f9f9f9;
  padding: 30px 30px 1px;
  margin-bottom: 30px;
}
.img-no-stretch {
  object-fit: none; /* img won't stretch despite being in flex container */
}

@media (max-width: 950px) {
  .flex {
    flex-direction: column;
  }
  .gap {
    gap: 0;
  }
}
@media (max-width: 550px) {
  .img-no-stretch {
    object-fit: contain;
  }
}
